<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->


<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<style>
:root {
  /* https://coolors.co/9da8b0-d1b783-d73d49-303577-5f535b */

  /* see variables.scss for more variables*/
  --cover-text-color: #f2efe8!important;
  --cover-title-text-shadow: black 0px 0px 10px!important;
  --highlight: #303577!important;
  --highlight-inverse-contrast: var(--highlight)!important;

  /* Dark section - background color */
  --section-dark-bg-color: var(--highlight)!important;

  /* define list element for unnumbered lists, leave empty for default list element */
  /* fa-asterisk is the default icon if this variable definition is missing completely */
  --ul-li-icon: fa-dashcube;     /* this sets fa-dashcube as list icon */
  --ul-li-icon: ;                /* this sets the default html list icon */
}
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->


<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
